::selection {
  background-color: #ff7c33;
}

::-moz-selection {
  background-color: salmon;
}

html {
  scroll-behavior: smooth;
}


/* body */

body {
  margin: 0;
  font-family: 'AirLand',sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;

  background-color:#f2f2f2;
  color: #000;
}

h2 span {
  font-size: 40px;
}

h2 span.space {
  margin-left: 0.3em;
}

h2 span.flower {
  font-family: 'Flower';
}

h2 span.wasteland {
  font-family:'Wasteland';
}

h2 span.mountain {
  font-family:'Mountain';
}


h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.1;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: background-color ease .5s;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

p {
  font-weight: 400;
}

/* header */

header {
  border-bottom: 2px solid #000;
  z-index: 30;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  left: 0;

  background-color: #ff7c33;

  width:100%;
  font-family: 'AirLand', sans-serif;
  font-size: 24px;
}

/* hamburger menu */

button {
  border: none;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.hamburger {
  display: flex;
  flex-direction: column;
  background: none;
  border: none;
  outline: none;
}

span.menu {
      display: inline-block;
      height: 2px;
      width: 30px;
      background-color: #000;
      margin-bottom: 10px;
      transition: 0.3s ease transform;
      z-index: 3;
  }

         .hamburger__open span:nth-child(1) {
             transform: rotate(-45deg) translate(-9px, 6px);
         }
         .hamburger__open span:nth-child(2) {
             opacity: 0;
         }

         .hamburger__open span:nth-child(3) {
             transform: rotate(45deg) translate(-11px, -8px);
         }


 .nav {
     position: fixed;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     overflow: hidden;
     height: 0%;
     width: 100%;
     background-color: hsl(209, 63%, 16%);
     z-index: -1;
     max-width: 100%;
   }

.nav__extra-background {
         position: fixed;
         top: 0;
         bottom:0;
         right:0;
         left: 0;
         height: 0%;
         width: 100%;
         background-color: #FFE02E;
         z-index: -3;
     }

.nav__content {
             display: flex;
              align-items: center;
             max-width: 1140px;
             height: 100%;
             min-height: 100vh;
             padding: 120px 0;
             margin: 0 auto;
             background-image: linear-gradient( #F93B00, #FF7FA5, #01A8E0);
         }

  .nav__left {
             flex: 1;
             display: flex;
             flex-direction: column;
             align-items: center;
             justify-content: center;
         }

  .nav__links a {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              font-size: 35px;
              line-height: 1.1;
              color: #fff;
              margin-bottom: 20px;
              padding-bottom: 20px;
              text-transform: uppercase;
         }

  div.nav-small {
    font-size: 35px;
  }




@media (max-width:1140px) {
      ul.hide-on-med-and-down,
      div.hide-on-med-and-down {
             display:none;
           }

#nav-mobil {
        position: fixed;
        top: 20px;
        right:0;
        margin-right: 20px;
        z-index: 30;
      }
   }


@media (min-width:1140px) {
  #nav-mobile {
    display:none;
  }
}

/* Large menu */

div.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  min-height: 65px;
  max-height: 65px;
  position: relative;
}

header img{
  width: 300px;
  padding-top: 50px;
  z-index: 3;
}

.page-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

nav a.link {
  text-transform: uppercase;
  padding-left: 15px;
  padding-right:15px;
  transition: all 0.3s ease;
}

a.selected-bg{
  background-color: #000;
  color:#fff;
  border-radius: 50px;
  padding: 0.3em;
}

.main-pages {
  margin-right: 30px;
}

div.main-pages a {
  padding: 8px;
  border: 1.5px solid #000;
  border-radius: 50%;
  top: 10px;
  margin-right: 5px;
  transition: all 0.3s ease;
}


.link {
	outline: none;
	text-decoration: none;
	position: relative;
}

div.main-pages a:hover{
  color:#fff;
  background: #000;
}

a.selected-page {
  background-color: #ffe02e;
}


/* HERO */

section.hero {
  height: 80vh;
  text-align: center;
  position: relative;
  max-width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-attachment: fixed;
  background-image: url('000027.JPG');

  background-repeat: no-repeat;
  background-position: center;

  -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.title h2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
      font: normal normal  36px 'AirLand', sans-serif;
      height: 70px;
      background-color:  #0258c3;
      border-top: 2px solid #000;
      border-bottom: 2px solid #000;
      width: 100%;
      color: #fff;
}




/*collapsible*/

div.dropdwon-wrapper,
section.inks,
section.opening-hours,
div.quote
 {
  margin: 0px auto 30px auto;
  max-width: 1200px;
}

section.dropdown {
  padding: 4em;
  margin: 0 8% 0 8%;
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  color: #000;
  cursor: pointer;
  padding: 0.8em;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
 	font-size: 1.2em;
  font-weight: 500;
  position: relative;
  border-radius: 50px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 0 4px #0258c3;
}


/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible p{
  transition: transform 0.3s ease;
  padding-left: 0.5em;

}
.collapsible p:hover {
  transform: translate(1%);
}

.red {
  /* background-color: #FF6641; */
  background-color: #ff7c33;
}
.blue {

  background-color: #ffe02e;
}
.pink {

  background-color: rgba(221,235,255);
}



/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  position: relative;
  padding: 50px;
  border-radius: 14px;
  margin-bottom: 10px;
}

.collapsible-text {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  	background-color: #ffffff;
    overflow: scroll;
    width: 90%;
    /* height: 80vh; */
    margin-bottom: 10px;
    padding: 20px 10px;
    border-style: solid;
    border-width: 4px;
    border-color: #373535;
    border-radius: 14px;
    padding: 1em;
    -o-object-fit: fill;
    object-fit: fill;
    z-index: 2;
}

.box{
  /* color: #000; */
  border: 4px solid #373535;
  border-radius: 14px;
  font-weight: 300;
  -o-object-fit: fill;
  object-fit: fill;
  margin: 2em;
  padding: 1em;
}

.box h4 {
  margin-bottom: 1em;
}


.collapsible:before {
  background: #000;
  content: '';
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 30px;
}

.collapsible:after {
  background: #000;
  content: '';
  height: 2px;
  margin-right: 37px;
  position: absolute;
  right: 0;
  top: 50%;
  width: 30px;
}

.collapsible.active:before {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}


/* inks */

section.inks {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 6% 0 6%;
  margin-bottom: 1em;
}

.reg-mark {
  position: relative;
  top:0;
  align-self: flex-start;
  left:50%;
  width:50px;
}

img.bottom {
position: relative;
align-self: flex-end;
width: 50px;
left:-45%;
}

div.inks-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
}

div.inks-text p {
  padding: 1.4em 0 1.4em ;
  max-width: 500px;
}

div.color-selection {
  display: grid;
  grid-template-rows: auto;
  place-items: center;
}

div.color-selection h3 {
  font-size: 24px;
  padding: 0.5em;
  margin: 1em 0 1em 0;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 50px;
  background-color: #ffe02e;
  /* background-color: #5ef95f; */
  box-shadow: 5px 5px 0 4px #0258c3;
}

  .colors {
    display: flex;
    position:relative;
    z-index: 3;
    margin: 1em 0 1em 0;
  }

  .color {
    height: 40px;
    width: 40px;
    margin-left: 0.5em;
    border: 2px solid #000;
    cursor: pointer;
  }

.color:hover {
  cursor:url(RedBrush.cur), auto;
}

/* marquee */

.marquee {
    font: normal italic 400 40px 'AirLand', sans-serif;
    height: 70px;
    padding-top: 0.3em;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    width: 100%;
    margin-left: 0px;

}

/*workshop*/

section.workshop {
  color: #000;
  width: 100%;
  padding: 3em;
  position: relative;
}

div.workshop {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 0px auto 0px auto;
max-width: 1200px;
}

div.text-workshop{
  position: relative;
  background-color: #fff;
  overflow: scroll;
  padding: 2em;
  border-style: solid;
  border-width: 4px;
  border-color: #373535;
  border-radius: 14px;
  -o-object-fit: fill;
  object-fit: fill;
  color: #000;
 margin-bottom: 1.3em;
 max-width: calc(100% - 200px);
}

div.text-workshop a {
  text-decoration: none;
  color: #000;
  border-bottom: 2px solid #000;
  font-weight: 500;
}

 div.text-workshop a:hover, .footer-text a:hover   {
  background-color: hsla(111, 100%, 50%, 1);
  color:#000;
}


.pencil {
      position: fixed;
      right: 50px;
      top: 60%;
      overflow: hidden;
      width: 200px;
      z-index: 1;
}

/*opening hours*/

section.opening-hours {
  margin: 1em auto 4em auto;
  display:grid;
  grid-template-columns: 1fr 1fr;
}


div.hours-text {
  display: grid;
  grid-template-rows: auto;
  place-items: center;
}

.address {
  text-align: center;
  max-width: 200px;
  font-weight: 600;
  line-height: 1.2;
  padding: 1em;
}

.times {
  line-height: 1.3;
  text-align: center;
}

div.get-directions{
  padding: 1em;
}


section.quote {
  padding: 1em;
}

div.quote{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  position: relative;
}

h3.requestingaquote {
  position: relative;
  left:-30%;
  z-index: 2;
  max-width: 30vw;
  transform: rotate(-13deg);
}

a.getaquote {
display: flex;
justify-content: center;
}

div.notes {
  	background-color: #ffffff;
    overflow: scroll;
    width: 80%;
    height: 80%;
    padding: 2em;
    border-style: solid;
    border-width: 4px;
    border-color: #373535;
    border-radius: 14px;
    -o-object-fit: fill;
    object-fit: fill;
    column-count: 2;
}

div.notes li {
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}


/* newsletter */

section.news {
  margin-top: 4em auto 4em auto;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: #E5E5E5;
  padding: 4em;
  width: 80%;
  height: 80%;
  text-align: center;
  margin-top: 4em;
  margin-bottom: 4em;
}

h3.news{
  font-size: 28px;
  font-weight: 600;
  line-height: 1.1;
}

img.computer {
  position: absolute;
    top: -29%;
    left: -9%;
    z-index: 1;
    width: 40%;
}

form {
  padding: 1em;
}

input.email{
  width: 30%;
  height: 50px;
  margin:1em;
}

input.button {
  color:#fff;
  background-color: #000;
  width: 30%;
  padding:0.5em;
  transition: all 0.3s linear;
}

input.button:hover {
background-color:#ff7c33;
color: #000;
border-color: #000;
}


/* instagram-title */
section.insta h2 {
  text-transform: uppercase;
  width: 100%;
}

/* instagram-images */

div.swiper-container{
  display:none;
}

#instagram-feed {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(25%,1fr));
    border-bottom: 4px #0258c3 solid;
    margin-bottom: -2px ;
    position: relative;
}


#instagram-feed img {
  border-left:4px #0258c3 solid;
  width: 100%;
  height: 400px;
  object-fit: cover;
}

#instagram-feed:hover::after  {
  transform: translate(-50.5%, -50%) rotate(-10deg) scale(1);
}

#instagram-feed::after {
content: "Follow us on Instagram";
position: absolute;
display: flex;
align-items: center;
justify-content: center;
text-align: center;
width: 40.5%;
height: 100px;
border-radius: 50%;
color:#fff;
background: #0258c3;
top: 50%;
left: 50%;
transform: translate(-50.5%, -50%) rotate(-10deg) scale(0);
transition: .5s transform;
text-transform: uppercase;
letter-spacing: 5%;
font-size: 28px;
pointer-events: none;
z-index: 10;
}

section.insta h2 {
    border-bottom: none;
}


/* footer */

footer {
    position: relative;
    max-height: 100%;
    height: 60vh;
    margin: 1em auto 1em auto;
    background-image: url(Elephant.svg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}



div.footer-info{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.menu-footer {
  text-transform: uppercase;
}

div.footer-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transform: translateX(10%);
  padding: 1.2em;
}

div.footer-text ul{
  margin: 0 2em 0 0;
}

div.footer-text li {
  margin-bottom: 1em;
}

div.footer-text li a {
  padding: 0.5em;
  border: 1px solid #000;
  border-radius: 50px;
}

.menu-footer li,
.menu-footer a {
    transition: all 0.3s ease;
}

 .footer-nav li:hover {
   transform: translate(2%);
 }

 a.top{
   background-color: #000;
   color:#fff;
   border-radius: 50px;
   padding: 0.4em;
   display: flex;
   justify-content: center;
 }

 marquee {
   font-size: 35px;
 }

/* workshops page */
section.workshops {
  margin: 0 0 0 25%;
}

section.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  background-image: url("sidebar1.jpg");
  background-size: cover;
  background-position: 80% 50%;
}

h1 {
  font-size: 118px;
  line-height: 1;
  border-bottom: 1px solid #c2beb5;
  text-transform: uppercase;
}

main.workshops {
  padding: 80px;
  max-width: 960px;
  margin: 0 auto 0 auto;
}

footer.workshops {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

footer.workshops a {
  transition: all 0.3s ease;
}
footer.workshops a:hover{
  font-weight: 900;
}

h2.workshops {
  font-size: 26px;
}
div.title{
  margin: 24px 0 16px 0;
}

div.title p {
  margin-top: 16px;
}

p.signup {
  display: flex;
  justify-content: flex-end;
}

p.signup a{
  padding: 0.5em;
  border: 1.5px solid #000;
  border-radius: 50%;
  background-color: #ffe02e;
  transition: all 0.3s ease;
}

p.signup a:hover{
  background-color: #000;
  color:#fff;
}

section.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 64px 32px;

  margin: 60px 0 60px 0;
}

/* PRINT QUOTE */

section.print-quote {
  background-color: rgb(2, 88, 195);
  padding: 60px;
}

footer.quote {
  padding: 60px;
  color:#fff;
  max-width: 100%;
}

footer.quote a {
  color:#fff;
}

/* MEDIA QUERIS */

/* LARGE */

@media screen and (max-width : 1024px){
footer img{
  top: 1%;
}
}

/* MEDIUM */

@media screen and (max-width : 880px){


  html, body {
    position:relative;
    overflow-x:hidden;
    font-size: 16px;
  }

  a.brand-logo img{
    transform: translate(-15px , -5px);
  }

  section.hero {
    height: 65vh;

  }

section.title h2 {
  font-size: 28px;
  vertical-align: baseline;
  text-align: center;
  height: fit-content;
}

section.dropdown {
  padding: 20px;
}

div.content {
  padding: 0;
}


div.color-selection h3{
  font-size: 18px;
}

.collapsible-text{
height: 100%;
width: 95%;
margin: 0;
}

.box {
  margin:0;
  margin-bottom: 5px;
}


  section.inks {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: calc(100% - 5px);
  margin:0;
}

div.color-selection {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 30px);
  transform: none;
}

.color {
  margin: 0.1em;
}

  div.inks-text button {
    width: calc(100% - 40px);
    padding:0;
    margin-bottom: 0;
  }


section.workshop {
  padding: 0;
}

div.workshop {
  margin: 0.5em;
}

div.text-workshop {
  padding:0.6em;
  margin:1em;
  max-width: calc(100% - 10px);
}

div.text-workshop p{
  padding:1.4em 0 1.4em 0;
  max-width: 500px;
}



section.opening-hours{
  margin:0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4em;
  margin-top: 4em;
}

div.image-opening{
  margin-bottom: 1em;
  padding: 1em;
}

div.hours-text h4, div.hours-text ul {
  margin-bottom: 1em;
}

h3.requestingaquote {
  max-width: 53vw;
}

div.quote {
  padding:0;
}

div.notes {
  column-count: auto;
  width: 100%;
  padding: 0.8em;
  height:100%;
}

div.notes li {
padding-left: 0.4em;
padding-right: 0.4em;
}

a.getaquote {
  position: inherit;
  transform: translateX(-50%);
  left: 50%;
}


input.email{
  padding:10px;
  width: auto;
}


main.workshops {
  padding:0;
}

section.workshops {
  margin: 0 5% 0 5%;
}

section.sidebar{
  display: none;
}

main.workshops h1 {
  padding: 1em;
  font-size: 32px;
}

section.grid{
  margin:0;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#instagram-feed {
  grid-template-columns: 1fr;
  border:none;
}

#instagram-feed img {
  border:none;
}

footer {
  background-image: none;
  transform: translateX(-10%);
}


footer.workshops {
  padding:1em;
  height: 30vh;
  flex-wrap:wrap;
  justify-content: flex-start;
  max-width: 95%;
}


}

@media screen and (max-width : 450px) {

section.hero {
background-size: 175%;
background-attachment: scroll;
}



section.dropdown {
    margin: auto;
  }

.collapsible {
  font-size:20px;
}

div.inks-text{
  margin-bottom: 1em;
}

img.inks{
width: 260px;
}

.reg-mark {
  left: 45%;
}
.colors {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.color{
  width: 60px;
  height: 60px;
}

svg.mickey {
  max-width: 350px;
}


div.button {
  margin:0.2em auto 0.2em auto;
}

img.icon {
  max-width: 80vw;

}

  h3.requestingaquote {
    max-width: 80vw;
    transform: rotate(-8deg);
    left:-8%;
  }


  img.computer{
    width: 100%;
  }

  section.news {
    padding: 1.4em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translate(-50%, 10%);
  }

section.news p{
  font-size: 20px;
}

h3.news {
  margin: 2em 0 1em 0;
  font-size: 20px;
  padding:2em 0.5em 0.5em 0.5em;
}

form {
  font-size:16px;
  padding:0;
}

input.email{
  margin:1em;
  width:250px;
  padding: 10px;
}

input.button {
  color:#fff;
  background-color: #000;
  width: 250px;
  padding:0.5em;
}

div.swiper-container {
  display: inline-block;
    width: 100%;
    height: 300px;
}

section.insta h2 {
    font-size: 32px;
    display: block;
}

#instagram-feed{
display:none;
}

footer img {
  display: none;
}

footer {
  margin:0;
}

div.footer-info {
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


div.footer-nav, div.footer-text, div.footer-text h4 {
  padding:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-size: 16px;
  margin: 10px 0 10px 0;
  flex:auto;
}

section.print-quote {
  padding: 1.4em;
}

.pencil {
  right: 2%;
  width: 150px;
}

footer.quote {
  max-width: 100%;
}

h2 span.flower,
h2 span.wasteland,
h2 span.mountain{
  font-size: 32px;
  text-transform: uppercase;
}

}
