::selection {
  background-color: #ff7c33;
}

::-moz-selection {
  background-color: salmon;
}

:root{
  height: 100%;
}


/* body */

body {
  margin: 0;
  padding: 24px;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  background-color:#EBEAE8;
  color: #000;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}


img.logo{
  max-width: 220px;
  height: auto;
}

.tagline{
  font-size: 11.5px;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: background-color ease .5s;
  font-style: italic;
  font-family: 'Archivo Black', sans-serif;
}

a:hover {
  background-color: #ff7c33;
  color: #fff;
}

h1, h2, h3 {
  text-transform: uppercase;
  font-family: 'Archivo Black', sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 32px;
  align-items: end;
}

.colors{
  grid-column: 1 / 2;
}

li.colors{
  display: flex;
  justify-content: flex-start;
  width: 220px;
}

.printing {
  grid-column: 2 / 7;
}

li.printing {
  display: flex;
  justify-content: flex-start;
}

.what {
  grid-column: 7 / 10;

}

li.what{
  display: flex;
  justify-content: flex-start;
}

 .contact {
  grid-column: 10 / 13;
}

li.contact{
  display: flex;
  justify-content: flex-start;
}

main div{
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  padding: 16px;
  background-color: #fff;
  border-radius: 4px;
}

main .colors{
  gap: 4px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

main .printing  {
  display: flex;
  flex-direction: column;
  gap: 32px;

}


main .printing div{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

footer ul{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  font-family: 'Archivo Black', sans-serif;
  grid-gap: 32px;
}



.color {
  width: 92px; /* Adjust the width as needed */
  height: 92px; /* Adjust the height as needed */
  position: relative;
  cursor: pointer;
}

/* Styles for the hex code text */
.color::after {
  content: ''; /* Initially empty content */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Text color, can be adjusted based on background brightness */
  font-size: 13px; /* Adjust the font size as needed */
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Styles when hovering over the color boxes */
.color:hover::after {
  content: attr(data-hex); /* Display the hex code on hover */
  opacity: 1; /* Make the text fully visible */
}

.illu{
  position: absolute;
  max-width: 333px;
  top: 32px;
  right: 32px;
}

main h2{
  display: none;
}

header{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 10;
}

header a{
  font-style: normal;
  transition: color ease .5s;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 0 4px rgba(0,0,0,.2);
  background-color: #fff;
}


/* Media Query for Mobile Devices */
@media screen and (max-width: 912px) {
  .tagline{
    font-size: 16px;
  }
  body{
    font-size: 16px;
  }
  img.logo{
    max-width: 75%;
  }
  /* Stack main content vertically */
  main {
    display: block;
  }

  main h2{
    display: block;
    margin-bottom: 16px;
  }

  /* Adjust grid columns for mobile */
  .colors, .printing, .what, .contact {
    grid-column: 1 / -1; /* Take full width */
  }

  header, main .colors, main .printing, main .what, main .contact {
    margin-bottom: 20px; /* Add some space between sections */
  }

  main .colors{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  

  footer ul, .illu  {
    display: none;
  }

}



/* Further Media Query for Very Small Screens (like small smartphones) */
@media screen and (max-width: 480px) {
  body {
    padding: 16px; /* Reduce padding on very small screens */
  }

  main .colors{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
  }

  .color {
    width: 100%;
    height: 100px;
  }
}
